* {
  margin: 0;
  padding: 0;
  color: grey;
  font-family: 'Roboto', 'Times New Roman';
}
html,body {
    height: 100%;
    min-height: 100%;
}
a {
  text-decoration: none;
}
p {
  clear: both;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 15px;
}
body {
  background-color: #171717;
}
path {
  color: white;
}
.close_message path {
  color: black;
}

.close_message {
  float: right;
}

ul {
  list-style: none;
  color: white;
}
.forms {
  width: 50%;
  padding: 2%;
  float: left;
  text-align: center;
}
#header {
  width: 98%;
  padding: 1%;
  background-color: #2c2c2c;
  height: 50px;
  float: left;
  text-align: center;
}

#footer {
  width: 98%;
  padding: 1%;
  background-color: #2c2c2c;
  height: 25px;
  float: left;
}

#wrapper {
  background-color: #1c1c1c;
  min-height: calc(73% + 5px);
  width: 96%;
  padding: 2%;
  float: left;
  text-align: center;
  padding-top: 0;
}
.results {
  margin-top: 50px;
  width: 50%;
  padding: 2%;
  float: left;
}
button {
  float: left;
}
input[type="text"], input[type="email"], input[type="password"], select  {
  clear: both;
  height: 25px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: none;
  padding: 5px;
  text-align: left;
}
textarea {
  clear: both;
  float: left;
  text-align: left;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 5px;
}
form label {
  margin-right: 10px;
}
.row {
  width: 60%;
  padding: 1%;
  margin: 0 auto;
}
#wrapper>.row {

}
#nav {
  width: 96%;
  padding: 15px 2%;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
  font-size: 1.1em;
  background-color: #2c2c2c;
  float: left;
}

#main_menu {
  float: left;
  width: 50%;
  background-color: #2c2c2c;
}

#nav a:hover {
  color: #62B2B2;
  transition: 0.5s;
}

#nav li {
  display: inline-block;
  margin-right: 5%;
}

.cat {
  width: 96%;
  padding: 15px 2%;
  height: auto;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
  font-size: 1.1em;
  background-color: #2c2c2c;
  float: left;
}

.cat_list {
  float: left;
  width: 50%;
  background-color: #2c2c2c;
}

.cat a:hover {
  color: #62B2B2;
  transition: 0.5s;
}

.cat li {
  display: inline-block;
  margin-right: 5%;
}

.sort a:hover {
  color: #62B2B2;
  transition: 0.5s;
}

.sort li {
  display: inline-block;
  margin-right: 5%;
}

.sort h2, .cat h2 {
  margin-bottom: 15px;
}

#footer {
  text-align: center;
}

.logo {
  width: 10%;
  padding: 1%;
  float: left;
}

.account {
  width: 20%;
  float: right;
  padding: 1%;
}

.messagetouser_error {
  padding: 1%;
  width: 98%;
  float: left;
  background-color: #b12e2e;
}

.messagetouser_warning {
  padding: 1%;
  width: 98%;
  float: left;
  background-color: #b6bc27;
}

.messagetouser_success {
  padding: 1%;
  width: 98%;
  float: left;
  background-color: #2eb156;
}

.messagetouser_success h2, .messagetouser_warning h2, .messagetouser_error h2 {
  width: 10%;
  float: left;
  color: black;
}

.messagetouser_success p, .messagetouser_warning p, .messagetouser_error p {
  clear: both;
  color: black;
}

.content_state {
  float: left;
  width: 98%;
  margin: 25px 0;
  padding: 1%;
  background-color: #2c2c2c;
}

.content_state h1 {
  margin-bottom: 10px;
}

span {
  font-size: 0.8em;
  opacity: 0.6;
}

.content_state p {
  margin-bottom: 15px;
}

.content_wrapper h1, p, span {
  margin-bottom: 15px;
}

.content_wrapper span {
  font-size: 0.8em;
  opacity: 0.6;
}

.sort {
  width: 96%;
  padding: 15px 2%;
  height: auto;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5);
  font-size: 1.1em;
  background-color: #2c2c2c;
  float: left;
}
